#logo {

    margin-left: 20px;
    float: left;
    
   
   }
   
  /* background label for submission box */
   #form {
    
    background-color: rgb(153, 86, 10);
    padding: 15px;
    opacity: .7;
    font-size: 1.7em bold;
    border-color: rgb(199, 199, 199);
    background: rgb(221, 216, 207);
    border-style: solid;
    border-width: 6px;
    
    
  }



  /* Text color for form input labels */
  label {

    
    border: auto;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    
    
  }

  /* input button */
  input[type=submit] {
    width: 15%;
    background-color: rgb(2, 8, 54);
    color: white;
    padding: 7px 10px;
    float: right;
    margin-top: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4em;
    opacity: .9;

  }
  

  
  input[type=submit]:hover {
    background-color: #192196;
    opacity: .7;
  }

.card {

  background-color: rgb(88, 86, 86);
  border-radius: 0px 0px 10px 10px;
  opacity: .9;
 
  /* display: none; */
}



#podDiv {

  float: left;
  margin: 5px;
 
}

#podcast-holder {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 400px;
  width: 100%;
  border: 2px solid black;
  padding: 2%;

}

#map-container {
  width: 300px;
  height: 300px
}


#podcast-card {

  display: none;
}


#podcast-container {

  width: auto;
}


#voice-btn {

margin-top: 10px;
margin-left: 0px;
 
}